<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <ul class="lrg-quotes rmv-left-padding">
          <%= render @fpquote %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 random-button">
      <%= link_to '<button type="button" class="btn btn-default">Generate <span class="glyphicon glyphicon-random"></span></button>'.html_safe, @nextrandom %>
    </div>
</div>
<div class="row center">
    <button class="btn btn-default show-more-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      more <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
    <div class="col-sm-12 show-more">
        <div class="collapse" id="collapseExample">
          <div class="well">
            <div class="row">
              <% @morequotes.each_with_index do |quote, index| %> 
                <% if((index + 1) % 2 == 0) %>
                  <div class="col-md-6 lrg-quotes">
                    <%= render quote %>
                  </div>
                  <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
                <% else %>
                  <div class="col-md-6 lrg-quotes">
                    <%= render quote %>
                  </div>
                <% end %>
              <% end %>
              <div class="col-md-6 lrg-quotes last-grid-item center">
                <div>
                  <li><%= link_to "recently added <span class='glyphicon glyphicon-arrow-right'></span>".html_safe, microposts_path %></li>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
