<div class="row">
  <aside class="col-md-3 user-info-area">
    <section class="user_info">
      <%= image_tag @user.picture.url if @user.picture? %>
      <h1>
        <%= link_to @user.name, @user %>
      </h1>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @user.favorites.any? %>
      <h3>Favorites</h3>
      <ol class="user-show-quotes lrg-quotes rmv-left-padding">
        <%= render @favorites %>
      </ol>
      <%= will_paginate @favorites %>
    <% else %>
      <h3><%= @user.name %> hasn't added any favorites yet</h3>
    <% end %>
  </div>
</div>