
<div class="row">
  <aside class="col-md-3 user-info-area">
    <section class="user_info">
      <%= image_tag @user.picture.url if @user.picture? %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    
    <!--keep out til more users-->
    <% if 1 == 0 %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      </br>
    <% end %>
    

    <div><%= link_to "favorites", favorites_user_path(@user) %></div>

    
    <!--keep out til more users-->
    <% if 1 == 0 %>
      </br>
      <span class="follow-user-btn"><%= render 'follow_form' if logged_in? %></span>
    <% end %>
    
  </aside>
  <div class="col-md-9">
    <% if @user.microposts.any? %>
    <h3 class="center">submissions</h3>
      <ol class="user-show-quotes lrg-quotes rmv-left-padding">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <h3>no submissions</h3>
    <% end %>
  </div>
</div>