<% unless logged_in? %>
  <h3 class="center guest-submit-header">submit as guest <small>or <%= link_to "sign up", signup_path %></small></h3>
<% end %>
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="form-group">
      <%= f.label :content, 'Excerpt' %> <span style="color:red">*</span>
      <%= f.text_area :content, class: 'form-control excerpt-input' %>
    </div>
    <div class="form-group">
      <%= f.label :author %> <span style="color:red">*</span>
      <%= f.text_field :author, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :name_of_full_work, 'From' %>
      <%= f.text_field :name_of_full_work, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :year, 'Year published' %>
      <%= f.text_field :year, class: 'form-control' %>
    </div>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <div class="form-group">
          <%= f.label :link_to_full_work, 'Link to full work' %>
          <%= f.text_field :link_to_full_work, class: 'form-control' %>
        </div>
      <% end %>
    <% end %>
    <div class="form-group">
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :comparison_type, 'Comparison' %> <span style="color:red">*</span>
      <span class="glyphicon glyphicon-info-sign metaphor-info" data-toggle="popover" title="Metaphor vs Simile" data-content="A simile is a specific type of metaphor that uses 'like' or 'as' to make a comparison."></span>
      <%= f.select :comparison_type, ['Metaphor', 'Simile'], :prompt => "", class: 'form-control' %>
    </div>
    
  </div>
  <% unless logged_in? %>
    <span class="tos-link">by clicking "Submit" you agree to our <%= link_to "terms of service", tos_path %></span>
  <% end %>
  <div class="submit-excerpt-btn">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>