<li id="micropost-<%= micropost.id %>">
  <p class="pquote"><%= micropost.content %></p>
  <div class="footnote">
    <%= micropost.author.upcase %> <%= 'in' if micropost.name_of_full_work? %> <cite title="Source Title">
      <% if micropost.link_to_full_work? %> 
        <a href='<%= micropost.link_to_full_work %>' target="_blank"><%= micropost.name_of_full_work %></a></cite>
      <% else %>
        <%= micropost.name_of_full_work %>
      <% end %>
    <span class="year"><%= micropost.year %></span>
  </div>
  <div class="timestamp">
    <% if micropost.tag_list.size > 0 %>
      <span class="tags-area">
        tags: <%= raw micropost.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </span>
    <% end %>
    <span class="user">
      <% if micropost.comparison_type == 'Metaphor' %>
        <%= link_to micropost.comparison_type.downcase, microposts_path(metaphor: true)  %>
      <% else %>
        <%= link_to micropost.comparison_type.downcase,  microposts_path(simile: true)  %>
      <% end %>
      <% if micropost.user.name != 'guest' %>
        posted by <%= link_to micropost.user.name, micropost.user %></span>
      <% end %>
    <% if logged_in? %>
      <div>
        <% unless current_user.favorite_excerpts.exists?(id: micropost.id) %>
          <%= link_to 'add to favorites', favorite_excerpts_path(micropost_id: micropost), class: "add-fav", method: :post, :remote => true %>
        <% else %>
          <%= link_to 'unfavorite', favorite_excerpt_path(micropost), method: :delete, class: "remove-fav", :remote => true %>
        <% end %>
      </div>
    <% end %>
    <% if current_user?(micropost.user) %>
      <div class='edit-delete-links'>
        <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_micropost_path(micropost) %>
        <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
      </div>
    <% end %>
    </br>
    <button class="share-btn" id="share-btn-micropost-<%= micropost.id %>"><span class="glyphicon glyphicon-share"></span></button>
    <div id="share-micropost-<%= micropost.id %>" class="share-buttons">
      <%= social_share_button_tag("#{micropost.content} - #{micropost.author}", :url => "https://www.amazingmetaphors.com#{url_for micropost}", 'data-twitter-title' => "#{micropost.content} - #{micropost.author} #amazingmetaphors", 'data-tumblr-title' => "#{micropost.content} - #{micropost.author}", :image => image_url('AMlogo.png'), :popup => "true", desc: "#{micropost.content} - #{micropost.author}") %>
    </div>
  </div>
  <script>
    $("#share-btn-micropost-<%= micropost.id %>").click(function() {
      $("#share-btn-micropost-<%= micropost.id %>").remove();
      $("#share-micropost-<%= micropost.id %>").fadeIn();
    });
  </script>
</li>