<div class="row">
  <div class="col-md-2">
    <div class="input-group search-area">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :content_or_author_or_name_of_full_work_or_year_cont, class: 'form-control search-box', placeholder: 'search' %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 col-xs-12">
      <ul class="lrg-quotes rmv-left-padding">
        <%= render @quotes %>
      </ul>
  </div>
  <div class="col-md-2 col-xs-12 cloud-area">
    <span class='tags-title center'>popular tags</span>
    <div id="tag_cloud">
      <% tag_cloud Micropost.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>
  <div class="col-md-offset-2 col-md-8 col-xs-12 center">
    <%= will_paginate @quotes, :inner_window => 1, :page_links => false %>
  </div>
</div>