<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <ul class="lrg-quotes rmv-left-padding">
          <%= render @quote %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 random-button">
        <%= link_to '<button type="button" class="btn btn-default">Generate <span class="glyphicon glyphicon-random"></span></button>'.html_safe, @nextrandom %>
    </div>
</div>