@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// nav
.navbar {
   background-color: transparent;
   background: transparent;
   border: none;
   font-family: 'Imprima', sans-serif;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-default .navbar-brand {
  color: black;
  float:none;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.excerpt-input {
  height: 7em !important;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  color: gray;
  a {
    &:hover {
      color: black;
    }
  }
  small {
    margin-top: 1.6em;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */
.lrg-quotes {
  .pquote {
  	background: image-url("bigquote.gif") top left no-repeat;
  	color: #030;
  	font-size: 2.2em;
  	padding: .9em .5em .5em;
  	font-family: 'Open Sans';
  	min-height: 76px;
  	margin-bottom: 0;
  }
  p::first-letter {
  	font-size: 1.2em;
  	font-weight: bold;
  }
  li {
    list-style: none;
  }
  .footnote {
    color: rgb(119, 119, 119);
    text-align: right;
  }
  .footnote:before {
    content: '\00A0 \2014';
    margin-right: 7px;
  }
  .timestamp {
    margin-right: 1em;
    margin-top: 1em;
    text-align: right;
    font-size: .9em;
    .tags-area {
      float: left;
      font-size: .9em;
      margin-left: 1em;
    }
  }
}
#tag_cloud {
  line-height: 1.6em;
  text-align: center;
  margin-bottom: 1em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.cloud-area {
  background-color: azure;
  border-radius: 10px;
  .tags-title {
    margin-top: 12px;
    display: block;
    color: rgb(143, 147, 147);
  }
}

@media screen and (max-width: 751px) { 
  .lrg-quotes {
    .pquote {
    	font-size: 1.15em;
    }
  }
  .row .show-more .lrg-quotes .pquote {
    text-align: left;
    font-size: 1.1em;
  }
  footer small {
    padding-bottom: .5em;
  }
  .navbar-header {
    margin-left: 0 !important;
  }
  .rmv-left-padding {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .user-info-area {
    margin-left: 3em;
  }
}

.guest-submit-header {
  color: rgb(102, 102, 102)
}
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


.edit-delete-links {
  font-size: 1.3em;
}

.random-button {
  text-align: center;
}

.submit-excerpt-btn {
  margin: 0 auto;
  text-align: center;
  input {
    width: auto;
  }
}

.center {
  text-align: center;
}

.show-more .lrg-quotes .pquote {
  text-align: left;
  font-size: 1.5em;
}

.show-more-btn {
  margin: 1.5em 0 .5em;
  border: none;
  outline: none !important;
}

.user-show-quotes {
  margin-top: 1em;
}

.follow-user-btn form input:last-child {
  width: auto;
}

.last-grid-item div {
  text-align: left;
  margin: 3em 0 0 3em;
}

.search-area {
  text-align: center;
  margin: 0 auto;
  form {
    display: inherit;
    margin-bottom: 1.5em;
    .search-box {
      border-radius: 4px 0 0 4px !important;
    }  
  }
}
.alert {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.TM {
  font-size: .7em;
  vertical-align: top;
  margin-left: 2px;
}

.tos-link {
  margin-bottom: .7em;
  display: block;
  font-size: .9em;
}

.metaphor-info {
  color: #337ab7;
  cursor: pointer;
  font-size: 1.15em;
  vertical-align: middle;
}
.share-buttons {
  display: none;
}
.share-btn {
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #337ab7;
  font-size: 1.2em;
}
.footer-search-link {
  margin-left: 2px;
}

.pagination {
  margin: 10px 0;
}