<footer class="footer">
  <small>
    <% if logged_in? %>
      <%= link_to "submit", new_micropost_path, 'data-no-turbolink' => true %> | <%= link_to "profile", current_user %> | <%= link_to "settings", edit_user_path(current_user), 'data-no-turbolink' => true %> | <%= link_to "log out", logout_path, method: "delete" %> | <%= link_to '<span class="glyphicon glyphicon-search"></span>'.html_safe, microposts_path %>
    <% else %>
      <%= link_to "submit", new_micropost_path, 'data-no-turbolink' => true %> | <%= link_to "log in", login_path, 'data-no-turbolink' => true %> | <%= link_to "sign up", signup_path, 'data-no-turbolink' => true %> | <%= link_to '<span class="glyphicon glyphicon-search footer-search-link"></span>'.html_safe, microposts_path %>
    <% end %>
  </small>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60514120-2', 'auto');
  ga('send', 'pageview');

</script>