<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "AMAZING METAPHORS<span class='TM'>™</span>".html_safe, root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>